.container{
  overflow: hidden;
  width: 100%;
  .content {
    margin-top: 15px;
    width: 96%;
    margin-left: 2%;
    border-radius: 20px;
    background-color: #ffffff;
    .head {
      height: 30px;
      padding-top: 30px;
      width: 100%;
      img {
        margin-top: 13px;
        float: left;
        margin-left: 4%;
        width: 24px;
        height: 18px;
      }
      .text {
        color:black;
        float: left;
        margin-left: 2%;
        font-size: 30px;
      }
    }
    .main{
      width: 100%;
      display: flex;
      flex-direction:row;
      .imgLogo{
        display: flex;
        flex-direction: column;
        width: 14%;
        img{
          margin-left:20%;
          margin-top: 30px;
          width: 50px;
        }
      }
      .conText{
        width: 86%;
        position: relative;
        ul{
          padding-inline-start: 0;
          margin-top: 30px;
          height: 50px;
          line-height: 50px;
          list-style: none;
          width: 100%;
          display: flex;
          flex-direction: row;
          li{
            font-size: 16px;
            color: #1e84e7;
          }
          .text{
            position: absolute;
            font-size: 28px;
            letter-spacing: 0.5px;
            color: black;
          }
          .num{
            font-size: 36px;
            font-weight: bolder;
            letter-spacing: -1px;
            margin-right: 2%;
            margin-left: 80%;
          }
          .dw{
            margin-top: 2px;
          }
        }
      }
    }
  }
}
